@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Instructor>
<div>Instructor List</div>
<a class="btn btn-primary" asp-action="AddInstructor">Add Instructor</a>
<table class="table">
    <tr>
        <th colspan="8">Instructor</th>
    </tr>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Rank</th>
        <th>Hiring Date</th>
        <th colspan="3">Actions</th>
    </tr>

    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.FirstName</td>
            <td>@instructor.LastName</td>
            @if (instructor.isTenured)
            {
                <td>Permanent</td>
            } else
            {
                <td>Probationary</td>
            }
            <td>@instructor.Rank</td>
            <td>@DateOnly.FromDateTime(instructor.HiringDate)</td>
            <td><a asp-action="EditInstructor" asp-route-id="@instructor.Id">Edit</a></td>
            <td><a asp-action="ShowDetail" asp-route-id="@instructor.Id">Show Details</a></td>
            <td><a asp-action="DeleteInstructor" asp-route-id="@instructor.Id">Delete</a></td>
        </tr>
    }
</table>